<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>InSync Power Data</title>
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.plot.ly/plotly-2.16.1.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    
  </head>
  <body>
   
        <div class="graph-box">
          <div class="history-charts">
            <div id="myGraph"></div> <!-- Graph Container -->
          </div>
        </div>
      
    <script src="{{ url_for('static', filename='main.js') }}" defer></script>
  </body>
</html>
